<!DOCTYPE html>
<html>
  <head>
    <title>websocket.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <script type="text/javascript" src="../public/js/jquery-3.3.1.js"></script>

    
     <script type="text/javascript">
    
    //socket = new WebSocket("ws://localhost:9094/starManager/websocket/张三");
	var socket;
	if(typeof(WebSocket) == "undefined") {
		console.log("您的浏览器不支持WebSocket");
	}else{
		console.log("您的浏览器支持WebSocket");
		//实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
		//socket = new WebSocket("ws://localhost:9094/starManager/websocket/张三")
		socket = new WebSocket("ws://localhost:9096/websocket");
		//打开事件
		socket.onopen = function() {//和后台建立socket连接
			console.log("Socket 已打开");
			//socket.send("这是来自客户端的消息" + location.href + new Date());
		};
		//获得消息事件
		socket.onmessage = function(msg) {
			console.log(msg.data);
			//发现消息进入    调后台获取
// 			getCallingList();
		};
		//关闭事件
		socket.onclose = function() {
			console.log("Socket已关闭");
		};
		//发生了错误事件
		socket.onerror = function() {
			alert("Socket发生了错误");
		}
// 		 $(window).unload(function(){
// 			  socket.close();
// 			});
 
                        		
		}
    
    
    
    </script>   
    

  </head>
  
  <body>
    This is my HTML page. <br>
    
    <button id="btnSend" type="button">发送</button>
     <button id="btnClose" type="button">关闭</button>
     
     <script type="text/javascript">
     
     $("#btnSend").click(function() {
 			socket.send("这是来自客户端的消息" + location.href + new Date());
 		});

 		$("#btnClose").click(function() {
 			socket.close();
 		});
     </script>
    
  </body>
</html>
